.profile{
    width: 80%; 
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: auto;
}

.profile-content{
    display: flex;
    width: fit-content;
    align-items: flex-end;
    height: fit-content;
}

.user-info{
    margin-left: 20px;
    font-size: clamp(1rem, 1.2vw, 1.4rem);
}

.user-info > h3{
    margin: 10px 0;
}
.profile-content > img{
    width: 180px;
    padding: 7px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.profile > Button{
    height: fit-content;
    margin: 10px;
}

@media screen and (max-width: 800px){
    .profile{
        width: 90%;
        flex-direction: column;
        align-items: flex-start;
        margin: auto;
    }
    .profile-content > img{
        width: 150px;
        padding: 3px;

    }

    .profile > Button{
        height: fit-content;
        margin-top: 30px;
        float: left;
    }
}