.update-pass-container{
    min-height: 200px;
    width: 400px;
    padding: 50px;
    /* border: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: auto;
    text-align: center;
}

.update-pass-container > form > input{
    width: 100%;
    border-radius: 5px;
    /* padding: 5px 0; */
    height: 35px;
    border-color: #666;
    outline: none;
}
.update-pass-container > form > p{
    text-align: left;
    margin-bottom: 0;
    margin-top: 20px;
}

.update-pass-btn{
    margin-top: 30px;
    width: 100%;
    background: #ed6c02;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    /* padding: 5px 0; */
    height: 35px;
}